In [11]:
import os
import json
import pandas as pd
import numpy as np

In [12]:
folder = "/home/kardosp/continuethelist/evals2"

In [13]:
os.listdir(folder)

['graphwalk_v4_output_sample8_seed60.json',
 'graphwalk_v4_output_sample8_seed80.json',
 'graphwalk_v4_output_sample8_seed70_all.json',
 'graphwalk_v4_output_sample8_seed80_all.json',
 'graphwalk_v4_output_sample4_seed70.json',
 'graphwalk_v4_output_sample6_seed50.json',
 'graphwalk_v4_output_sample4_seed70_all.json',
 'graphwalk_v4_output_sample4_seed50.json',
 'graphwalk_v4_output_sample4_seed60.json',
 'bertvectors_v1_output_topk_topk_10_sample6_seed44.json',
 'bertvectors_v1_output_topk_topk_10_sample8_seed44.json',
 'graphwalk_v4_output_sample4_seed50_all.json',
 'graphwalk_v4_output_sample6_seed50_all.json',
 'graphwalk_v4_output_sample6_seed70_all.json',
 'graphwalk_v4_output_sample4_seed80_all.json',
 'graphwalk_v4_output_sample6_seed60.json',
 'graphwalk_v4_output_sample6_seed70.json',
 'graphwalk_v4_output_sample6_seed60_all.json',
 'graphwalk_v4_output_sample8_seed60_all.json',
 'graphwalk_v4_output_sample4_seed60_all.json',
 'graphwalk_v4_output_sample6_seed80.json',
 'bertvectors_v1_output_topk_topk_10_sample4_seed44.json',
 'graphwalk_v4_output_sample8_seed50.json',
 'graphwalk_v4_output_sample4_seed80.json',
 'graphwalk_v4_output_sample6_seed80_all.json',
 'graphwalk_v4_output_sample8_seed50_all.json',
 'graphwalk_v4_output_sample8_seed70.json']

In [14]:
def load_json(path):
    with open(path, "r") as f:
        json_data = json.load(f)
    return json_data

In [20]:
data_container = list()
data_container_all = list()
for file in os.listdir(folder):

    if "graphwalk" not in file:
        continue
    current_file = os.path.join(folder, file)
    json_data = load_json(current_file)
    json_data["name"] = file

    if "_all" in file:
        data_container_all.append(json_data)
    else:
        data_container.append(json_data)
pdf = pd.DataFrame(data_container)
pdf_all = pd.DataFrame(data_container_all)

In [21]:
pdf["seed"] = pdf["name"].apply(lambda x: int(x.replace(".json", "").split("_")[-1][4:]))
pdf["sample"] = pdf["name"].apply(lambda x: int(x.replace(".json", "").split("_")[-2].replace("sample", "")))
pdf["rank_missing"] = pdf["rank_missing"]/250
pdf_grouped = pdf.groupby("sample").agg({"precision": [np.mean, np.std], "recall": [np.mean, np.std], "f1": [np.mean, np.std], "triple_match": [np.mean, np.std], "MR": [np.mean, np.std], "MRR": [np.mean, np.std], "hits@1": [np.mean, np.std], "hits@5": [np.mean, np.std], "hits@10": [np.mean, np.std], "rank_missing": [np.mean, np.std] })

In [22]:
pdf

,precision,recall,f1,best_counter,triple_match,MR,MRR,rank_missing,hits@1,hits@5,hits@10,name,seed,sample
0,0.902057,0.984336,0.922626,"[[0, 223], [1, 23], [2, 4]]",0.450667,1.238095,0.904762,0.244,0.628,0.756,0.756,graphwalk_v4_output_sample8_seed60.json,60,8
1,0.900341,0.986933,0.920736,"[[0, 231], [1, 17], [2, 2]]",0.442000,1.238342,0.902591,0.228,0.636,0.772,0.772,graphwalk_v4_output_sample8_seed80.json,80,8
2,0.886888,0.937967,0.896285,"[[1, 30], [0, 201], [2, 19]]",0.414667,1.519337,0.822428,0.276,0.504,0.716,0.724,graphwalk_v4_output_sample4_seed70.json,70,4
3,0.892778,0.966727,0.909252,"[[1, 23], [0, 221], [2, 6]]",0.429333,1.305263,0.879825,0.240,0.596,0.756,0.760,graphwalk_v4_output_sample6_seed50.json,50,6
4,0.883942,0.928814,0.887553,"[[0, 205], [1, 38], [2, 7]]",0.406000,1.708108,0.821102,0.260,0.524,0.704,0.736,graphwalk_v4_output_sample4_seed50.json,50,4
5,0.889559,0.951508,0.900957,"[[0, 194], [1, 43], [2, 13]]",0.402667,1.588889,0.808525,0.280,0.488,0.704,0.720,graphwalk_v4_output_sample4_seed60.json,60,4
6,0.906292,0.976526,0.922992,"[[0, 215], [1, 27], [2, 8]]",0.432000,1.296296,0.885979,0.244,0.604,0.756,0.756,graphwalk_v4_output_sample6_seed60.json,60,6
7,0.899581,0.974041,0.918109,"[[1, 28], [0, 216], [2, 6]]",0.436667,1.336842,0.873392,0.240,0.588,0.756,0.760,graphwalk_v4_output_sample6_seed70.json,70,6
8,0.896757,0.980072,0.917299,"[[0, 215], [1, 32], [2, 3]]",0.439333,1.326316,0.874386,0.240,0.584,0.756,0.760,graphwalk_v4_output_sample6_seed80.json,80,6
9,0.904995,0.980229,0.923464,"[[0, 230], [1, 17], [2, 3]]",0.440000,1.218750,0.904948,0.232,0.632,0.768,0.768,graphwalk_v4_output_sample8_seed50.json,50,8
10,0.891794,0.955075,0.905008,"[[1, 40], [0, 198], [2, 12]]",0.416667,1.610811,0.817097,0.260,0.508,0.720,0.736,graphwalk_v4_output_sample4_seed80.json,80,4
11,0.895428,0.983990,0.915792,"[[0, 226], [1, 21], [2, 3]]",0.435333,1.253886,0.904626,0.228,0.640,0.768,0.772,graphwalk_v4_output_sample8_seed70.json,70,8

In [23]:
pdf_grouped

       precision              recall                  f1
            mean       std      mean       std      mean       std
sample
4       0.888046  0.003392  0.943341  0.012170  0.897451  0.007499  \
6       0.898852  0.005691  0.974342  0.005647  0.916913  0.005693
8       0.900705  0.004009  0.983872  0.002761  0.920654  0.003437

       triple_match                  MR                 MRR           hits@1
               mean       std      mean       std      mean       std   mean
sample
4          0.410000  0.006733  1.606786  0.077996  0.817288  0.006266  0.506  \
6          0.434333  0.004505  1.316179  0.018657  0.878395  0.005793  0.593
8          0.442000  0.006418  1.237268  0.014386  0.904232  0.001102  0.634

                 hits@5           hits@10           rank_missing
             std   mean       std    mean       std         mean       std
sample
4       0.014787  0.711  0.008246   0.729  0.008246        0.269  0.010520
6       0.008869  0.756  0.000000   0.759  0.002000        0.241  0.002000
8       0.005164  0.766  0.006928   0.767  0.007572        0.233  0.007572

In [27]:
pdf_all["seed"] = pdf_all["name"].apply(lambda x: int(x.replace("_all", "").replace(".json", "").split("_")[-1][4:]))
pdf_all["sample"] = pdf_all["name"].apply(lambda x: int(x.replace("_all", "").replace(".json", "").split("_")[-2].replace("sample", "")))
pdf_all["rank_missing"] = pdf_all["rank_missing"]/310
pdf_all_grouped = pdf_all.groupby("sample").agg({"precision": [np.mean, np.std], "recall": [np.mean, np.std], "f1": [np.mean, np.std], "triple_match": [np.mean, np.std], "MR": [np.mean, np.std], "MRR": [np.mean, np.std], "hits@1": [np.mean, np.std], "hits@5": [np.mean, np.std], "hits@10": [np.mean, np.std], "rank_missing": [np.mean, np.std] })

In [28]:
pdf_all_grouped

       precision              recall                  f1
            mean       std      mean       std      mean       std
sample
4       0.876428  0.006586  0.941713  0.012895  0.887443  0.008920  \
6       0.888238  0.007047  0.973881  0.005438  0.907852  0.005979
8       0.889290  0.002849  0.983860  0.003267  0.911200  0.003431

       triple_match                  MR                 MRR
               mean       std      mean       std      mean       std
sample
4          0.420296  0.011559  1.842145  0.222733  0.822603  0.007986  \
6          0.461962  0.006918  1.361647  0.049689  0.881683  0.007993
8          0.469758  0.004442  1.227232  0.021704  0.909213  0.001774

          hits@1              hits@5             hits@10
            mean       std      mean       std      mean       std
sample
4       0.508871  0.003088  0.695968  0.012177  0.714516  0.007679  \
6       0.591129  0.009265  0.739516  0.003088  0.743548  0.004164
8       0.631452  0.006650  0.754839  0.006969  0.755645  0.007153

       rank_missing
               mean       std
sample
4          0.279032  0.007679
6          0.253226  0.004164
8          0.244355  0.007153

In [29]:
pdf_grouped.to_excel("/home/kardosp/continuethelist/excels/" + "graphwalk_v4.xlsx")
pdf_all_grouped.to_excel("/home/kardosp/continuethelist/excels/" + "graphwalk_v4_all.xlsx")

# Bert Results

In [43]:
sorted(os.listdir(folder))

['bertvectors_v1_output_topk_topk_10_sample4_seed44.json',
 'bertvectors_v1_output_topk_topk_10_sample6_seed44.json',
 'bertvectors_v1_output_topk_topk_10_sample8_seed44.json',
 'graphwalk_v4_output_sample4_seed50.json',
 'graphwalk_v4_output_sample4_seed50_all.json',
 'graphwalk_v4_output_sample4_seed60.json',
 'graphwalk_v4_output_sample4_seed60_all.json',
 'graphwalk_v4_output_sample4_seed70.json',
 'graphwalk_v4_output_sample4_seed70_all.json',
 'graphwalk_v4_output_sample4_seed80.json',
 'graphwalk_v4_output_sample4_seed80_all.json',
 'graphwalk_v4_output_sample6_seed50.json',
 'graphwalk_v4_output_sample6_seed50_all.json',
 'graphwalk_v4_output_sample6_seed60.json',
 'graphwalk_v4_output_sample6_seed60_all.json',
 'graphwalk_v4_output_sample6_seed70.json',
 'graphwalk_v4_output_sample6_seed70_all.json',
 'graphwalk_v4_output_sample6_seed80.json',
 'graphwalk_v4_output_sample6_seed80_all.json',
 'graphwalk_v4_output_sample8_seed50.json',
 'graphwalk_v4_output_sample8_seed50_all.json',
 'graphwalk_v4_output_sample8_seed60.json',
 'graphwalk_v4_output_sample8_seed60_all.json',
 'graphwalk_v4_output_sample8_seed70.json',
 'graphwalk_v4_output_sample8_seed70_all.json',
 'graphwalk_v4_output_sample8_seed80.json',
 'graphwalk_v4_output_sample8_seed80_all.json']

In [52]:
data_container = list()
data_container_all = list()
for file in os.listdir(folder):

    if "bert" not in file:
        continue
    current_file = os.path.join(folder, file)
    json_data = load_json(current_file)
    json_data["name"] = file

    data_container.append(json_data)
pdf = pd.DataFrame(data_container)

In [58]:
pdf["seed"] = pdf["name"].apply(lambda x: int(x.replace(".json", "").split("_")[-1][4:]))
pdf["sample"] = pdf["name"].apply(lambda x: int(x.replace(".json", "").split("_")[-2].replace("sample", "")))
pdf = pdf.drop(["best_counter"], axis=1)
pdf_grouped = pdf.groupby("sample").agg({"precision": [np.mean, np.std], "recall": [np.mean, np.std], "f1": [np.mean, np.std]})

In [60]:
pdf

,precision,recall,f1,name,seed,sample
0,0.014192,0.013555,0.013773,bertvectors_v1_output_topk_topk_10_sample6_see...,44,6
1,0.007264,0.007166,0.007212,bertvectors_v1_output_topk_topk_10_sample8_see...,44,8
2,0.169104,0.100153,0.113188,bertvectors_v1_output_topk_topk_10_sample4_see...,44,4